# Node.js
backend/node_modules/
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Logs
logs/
*.log

# Environment variables
backend/.env
frontend/.env

# Build directories
dist/
build/

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db